name: Main

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: node:24
    steps:
      - uses: actions/checkout@v5
      - run: npm install
      - run: npx playwright install chromium --with-deps
      - run: npm run test || true
      - run: npm run allure:generate
      - uses: actions/upload-artifact@v6
        with:
          name: allure-report
          path: allure-report
